<div class="container-fluid bg-img">
  <div class="row">
    <div class="col-sm-12">
      <div id="hero">
        <div id="inner-hero"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid about-tf"></div>