<div id="overlay"></div>
<div class="container-fluid bg-img">
  <div class="row">
    <div class="hero col-10 col-md-8 col-lg-5">
      <div id="inner-hero">
        <div class="col-12 hero-text-top">table fare</div>
          <div class="col-12 hero-icons">
            <i class="hero-icon"><%= image_tag('beet.png') %></i>
            <i class="hero-icon"><%= image_tag('forks.png') %></i>
            <i class="hero-icon"><%= image_tag('wheat.png') %></i>
          </div>
        <div class="col-12 hero-text-btm">dining cards</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid about-tf"></div>