/* HOME PAGE */

.overlay {
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: seashell;
  z-index: 2;
  cursor: pointer;
}

.bg-img {
  background: url('bgimg4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.opaque {
  opacity: 0.7;
}

.hero {
  background: white;
  margin: 30vh auto 0;
  padding: 15px;  
}

#inner-hero {
  border: 1px solid black;
  height: 100%;
}

.hero-text {
  display: inline-flex;
  justify-content: center;
  font-family: 'Coyote';
  font-size: 2rem;
  color: black;
}

.text-top {
  padding: 40px 10px 0px;
  letter-spacing: 13px;
}

.text-btm {
  padding: 0px 10px 40px;
  letter-spacing: 8px;
}

.hero-icons {
  display: inline-flex;
  justify-content: center;
}

.about-tf {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-tf-header {
  font-family: Coyote;
}

.about-tf-text {
  font-family: 'Karla', sans-serif;
}

#about-tf-end {
  font-weight: 700;
}

