/* HOME PAGE */

.overlay {
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: seashell;
  z-index: 2;
  cursor: pointer;
}

.bg-img {
  background: url('bgimg4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.opaque {
  opacity: 0.7;
}

#hero {
  margin: 30vh auto 0;
  line-height: 140px;
}

.hero-text {
  font-family: 'Arsenale White Regular';
  font-size: 7.5rem;
  color: white;
  text-align: center;

  @media (max-width: 992px) {
    font-size: 12rem;
    line-height: 1.2;
  }
}

.text-top {
  letter-spacing: 20px;
}

.text-btm {
  letter-spacing: 8px;
}

.hero-icons {
  display: inline-flex;
  justify-content: center;
}

.hero-icon + .hero-icon {
  margin-left: 90px;
}

.hero-icon img {
  height: 90px;

  @media (max-width: 992px) {
    height: 120px;
    margin: 40px 0 60px 0;
  }
}

#about:before {
  content: '';
  display: block;
  margin: -110px 0 0;
  height: 110px;
}

.about-tf {
  margin: 8% auto;
}

.tf-header {
  font-family: Coyote;
}

.tf-text {
  font-family: 'Karla', sans-serif;

  @media (max-width: 992px) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

#about-tf-end {
  font-weight: 700;
}

.hr-img {
  display: flex;
  justify-content: center;
}

.included-tf {
  height: 40vh;
  margin: 8% auto;
}

.footer {
  height: 15vh;
  background-color: #f5f5f5;
  line-height: 7rem;
  text-align: center;
}
