/* HOME PAGE */

.overlay {
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: seashell;
  z-index: 2;
  cursor: pointer;
}

.bg-img {
  background: url('bgimg4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.opaque {
  opacity: 0.7;
}

.hero {
  background: white;
  margin: 30vh auto 0;
  padding: 15px;
  box-shadow: 6px 7px 4px -3px rgba(0,0,0,0.6);
}

#inner-hero {
  border: 1px solid black;
  height: 100%;
}

.hero-text {
  display: inline-flex;
  justify-content: center;
  font-family: 'Coyote';
  font-size: 2rem;
  color: black;
}

.text-top {
  padding: 40px 10px 0px;
  letter-spacing: 13px;
}

.text-btm {
  padding: 0px 10px 40px;
  letter-spacing: 8px;
}

.hero-icons {
  display: inline-flex;
  justify-content: center;
}

.about-tf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.about-tf-expand {
  @media (max-width: 576px) {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

.about-tf-header {
  font-family: Coyote;
}

.about-tf-text {
  font-family: 'Karla', sans-serif;

  @media (max-width: 992px) {
    font-size: 22px;
    
    letter-spacing: 1px;
  }
}

#about-tf-end {
  font-weight: 700;
}

