.bg-img {
  background: url('bgimg4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.opaque {
  opacity: 0.7;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
   /* Hidden by default */
  width: 70%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  bottom: 0;
  background-color: seashell; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#hero {
  background: white;
  height: 200px;
  width: 350px;
  margin: 30vh auto 0;
  padding: 10px;

  @media (max-width: 992px) {
    height: 400px;
    width: 650px;
  }
}

#inner-hero {
  border: 1px solid black;
  height: 100%
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-collapse {
  @media (max-width: 992px) {
    text-align: right;
    font-size: 48px;
    margin: 14% 8%;
  }

  @media (min-width: 992px) {
    margin-right: 2%;
  }
}

.about-tf {
  height: 70vh;
}