.bg-img {
  background: url('bgimg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background: transparent;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}