<footer class="footer text-muted">
  <div class="container-fluid">
    <div class="row footer-text">
      <span class="col-2">
        &copy; Table Fare 2018</span>
      <span class="sm-icons col-4"></span> 
      <span id="subscriber-form", class="col-6">
        <%= render 'subscribers/index' %>
      </span>
    </div>
  </div>
</footer>