<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <span class="text-muted col">
        table fare</span>
      <span class="text-muted col">press</span>
    </div>
  </div>
</footer>